<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:sec="http://www.springframework.org/schema/security"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<sec:global-method-security pre-post-annotations="enabled" />

	<sec:http pattern="/css/**" security="none" />
	<sec:http pattern="/js/**" security="none" />

	<sec:http use-expressions = "true">
		<sec:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<sec:intercept-url pattern="/member/**" access="hasRole('ROLE_MEMBER')" />
		<sec:intercept-url pattern="/every/**" access="permitAll" />
		<!-- 왜 서버가 안뜨지? -->
		<!--<sec:intercept-url pattern="/every/**" filters="none" />-->
		<sec:form-login default-target-url="/index" />
		<sec:logout />
	</sec:http>

	<sec:authentication-manager>
		<sec:authentication-provider>
			<sec:user-service>
				<sec:user name="hc.choi" password="1234" authorities="ROLE_ADMIN" />
				<sec:user name="member" password="qwer" authorities="ROLE_MEMBER" />
				<sec:user name="admin" password="asdf" authorities="ROLE_ADMIN, ROLE_USER" />
			</sec:user-service>
		</sec:authentication-provider>
	</sec:authentication-manager>
</beans>